body{
  background-color: #F6F8F0;
}
#root {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: -webkit-fill-available;
}

.line{
  display: flex;
  justify-content: space-between;
}

@media (max-width:352px) {
  .images img{
    width: 33vw;
  }
}
@media (min-width: 420px){

  .performanceCard ol{
    left: 20px!important;;
  }

  .performanceCard {
  width: 65%;
}

}
@media (min-width: 480px){
  .images{
    justify-content: space-around!important;
  }

}