@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.8;
  /* font-weight: 400; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  /* 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-weight: 500;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: 0%;

}

h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0%;
}

h3 {
  font-weight: 600;
  font-size: 26px;
  line-height: 100%;
  letter-spacing: 0%;
}

h4 {
  font-weight: 400;
  font-style: Regular;
  font-size: 22px;
  line-height: 100%;
  letter-spacing: 0%;
}

h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0%;

}

#capitalLettersText {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
}

.textAlignLeft{
  text-align: left;
}

.pading {
  padding: 0 2em;
}

.left {
  text-align: left;
}

.nav {
  background-color: #FF294D;
  height: 85px;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5em ;
  align-items: center;
}

.subnav{
  background-color: #FFA203;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em ;
}

#goBackBtn {
  margin: 25px 10vw;
  display: block;
  background-color: #CAFF00;
  color: #321E41;
  padding: 10px;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-family: inherit;
  font-weight: 300;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.labelForInput {
  color: #554460;
  font-weight: 400;
  margin-bottom: 6px;
  display: block;
  width: 75%;
  margin: auto;
  text-align: left;
}

input{
  background-color: #F6F8F0;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="textbox"]:focus {
  border-color: #FF294D;
  outline: none;
}

form input[type="text"],
input[type="email"] {
  width: 75%;
  padding: 14px 11px;
  border: 2px solid #FF294D;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: #1D1D1D99;
}

input::placeholder {
  color: #1D1D1D99;
  font-weight: 400;
}


input[type="checkbox"] {
  width: 16px;
  height: 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: white;
  border: 2px solid black;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  margin: -4px 8px;
}

input[type="checkbox"]:checked {
  background-color: black;
  border: 1px solid black;
}

input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 3px;
  height: 8px;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  border-color: white;
  border-style: solid;
}

.textGray {
  font-size: 16px;
  line-height: 26px;
  color: #2929298f;
  width: 80%;
  margin: auto;
  text-align: left;
  margin-bottom: 36px;
}

.card {
  border: 2px solid #4141410F;
  border-radius: 8px;
  width: 70vw;
  margin: auto;
  padding: 2em 1em 0.8em 1em;
  margin-bottom: 30px;
}

.performanceCard {
  width: 80%;
  margin: auto;
  background-color: #CAFF00;
  padding: 0.8em;
  border-radius: 6px;
  box-shadow: 0px 10px 40px 0px #00000333;
}

.questionsCard {
  background-color: white;
  box-shadow: 0px 10px 40px 0px #00000333;
  width: 70vw;
  margin: auto;
  padding: 1.5em;
  border-radius: 6px;
  margin-bottom: 5em;
}

.questionsCard p,
.questionsCard h5 {
  color: #321E41;
}

input[type='textbox'] {
  width: 90%;
  padding: 14px 11px;
  border: none;
  background-color: #D9D9D980;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  color: #1D1D1D99;
}

.line p {
  margin: 10px 0;
}

.dropdownContainer {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.dropdownTrigger {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.dropdownOptionsStyle {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 3px;
  border-top: 1px solid #ccc;
  background-color: white;
}

.dropdownItem {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.performanceCard ol li{
  margin-bottom: 14px;
}
.redUnderline{
  color: #FF294D;
  font-weight: 350;
  text-decoration: underline;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #FF294D;
    color: white;
  }
}